.Chats .Name {
    font-weight: 600;
}

.Chats .Preview {
    --mask-direction: to right;
    list-style: none;
    margin-top: calc(var(--spacing-unit-y) / 2);
    max-height: 1em;
    padding-left: 0;
}

    .Chats .Preview .Heading {
        font-weight: 500;
    }

.Chats q {
    color: var(--tertiary-fg-color);
}

.Chats q::before, .Chats q::after {
    content: '';
}

.Chats a {
    color: inherit;
    text-decoration: none;
}

.Chat {
    --message-content-spacing-unit: calc(var(--user-picture-size) + 2 * var(--stroke-width) + var(--spacing-unit-x) / 2);
}

.Chat .MessageContainer {
    font-size: var(--chat-font-size);
    overflow-y: auto;
}

    .Chat .Message {
        margin: var(--spacing-unit-y) var(--spacing-unit-x);
    }

        .Chat .Message .Header {
            align-items: flex-start;
            display: flex;
            flex-direction: column-reverse;
        }

        .Chat .Message .Heading {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
        }

        .Chat .Message .Author {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
        }

        .Chat .Message .Timestamp {
            color: var(--tertiary-fg-color);
            font-size: 0.8em;
            margin-left: calc(var(--spacing-unit-x) / 2);
        }

        .Chat .Message .Timestamp::before {
            content: '\2014';
            margin-right: calc(var(--spacing-unit-x) / 2);
        }

        .Chat .Message .Commands {
            color: var(--tertiary-fg-color);
            margin-left: calc(var(--spacing-unit-x) / 2);
        }

        .Chat .Message .Parent {
            margin: 0;
            padding: 0;
            position: relative;
        }

        .Chat .Message .Parent::before {
            border-left: var(--border);
            border-top: var(--border);
            border-top-left-radius: var(--user-picture-fillet);
            bottom: 0;
            content: '';
            display: block;
            height: calc(100% - var(--user-picture-size) / 2);
            left: calc(var(--user-picture-size) / 2);
            position: absolute;
            width: calc(var(--message-content-spacing-unit) - var(--user-picture-size) / 2);
        }

            .Chat .Message .Parent {
                color: inherit;
                font-size: 0.8em;
                opacity: 0.75;
                text-decoration: none;
            }

            .Chat .Message .Parent:hover {
                opacity: 1;
            }

            .Chat .Message .Parent .Message {
                margin-left: var(--message-content-spacing-unit);
                margin-top: 0;
            }

            .Chat .Message .Parent .Content {
                max-height: calc(var(--chat-line-height) * 1em);
            }

            .Chat .Message .Parent .Content.Preview {
                --mask-direction: to right;
            }

    .Chat .Content {
        line-height: var(--chat-line-height);
        margin-bottom: calc(var(--spacing-unit-y) / 2);
        margin-left: var(--message-content-spacing-unit);
        margin-top: calc(var(--spacing-unit-y) / 2);
        white-space: pre;
    }

.ChatBoxContainer  {
    border-top: var(--border);
    padding: var(--spacing-unit-y) var(--spacing-unit-x);
}

    .ChatBoxContainer .Parent, .ChatBoxContainer .Message {
        margin: 0;
        padding: 0;
    }

        .ChatBoxContainer .Message .Content {
            margin-bottom: var(--spacing-unit-y);
        }

    .ChatBoxContainer .Combined.Field {
        display: flex;
    }

.ChatBox {
    flex: 1;
    font: inherit;
    max-height: 50vh;
    resize: none;
}

.ChatBox.Input {
    height: auto;
    line-height: var(--chat-line-height);
}
