.Field {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: 1em;
    line-height: inherit;
    margin: 0;
    outline: none;
    padding: 0;
}

.Field.Group {
    margin: var(--spacing-unit-y) 0;
}

.Label {
    display: block;
    margin: calc(var(--spacing-unit-y) / 2) 0;
    width: fit-content;
}

.Input {
    background-color: var(--input-bg-color);
    border-radius: var(--field-fillet);
    box-shadow: inset 0 0 0 var(--stroke-width) var(--stroke-color);
    color: var(--input-fg-color);
    height: calc(line-height + 1em);
    padding: 0.625em;
}

.Input:hover {
    background-color: var(--input-bg-color-hover);
}

.Input:focus, .Input:active {
    background-color: var(--input-bg-color-focus);
}

.Button {
    align-items: center;
    border-radius: var(--field-fillet);
    display: inline-flex;
}

    .Button div {
        display: inline-flex;
    }

    .Button svg {
        height: 1em;
        width: 1em;
    }

.Text.Button {
    padding: 0.625em 1em;
}

.Icon.Button {
    font-size: 1.5em;
    padding: 0.25em;
}

.primary.Button {
    background-color: var(--primary-button-bg-color);
    color: var(--primary-button-fg-color);
    fill: var(--primary-button-fg-color);
}

.primary.Button:hover, .primary.Button:focus {
    background-color: var(--primary-button-bg-color-hover);
}

.primary.Button:active {
    background-color: var(--primary-button-bg-color-active);
}

.secondary.Button {
    background-color: var(--secondary-button-bg-color);
    box-shadow: inset 0 0 0 var(--stroke-width) var(--secondary-button-fg-color);
    color: var(--secondary-button-fg-color);
    fill: var(--secondary-button-fg-color);
}

.secondary.Button:hover, .secondary.Button:focus {
    box-shadow: inset 0 0 0 calc(2 * var(--stroke-width)) var(--secondary-button-fg-color);
}

.secondary.Button:active {
    box-shadow: inset 0 0 0 calc(3 * var(--stroke-width)) var(--secondary-button-fg-color);
}

.tertiary.Button {
    background-color: var(--tertiary-button-bg-color);
    color: inherit;
}

.tertiary.Button:hover, .tertiary.Button:focus {
    background-color: var(--tertiary-button-bg-color-hover);
}

.tertiary.Button:active {
    background-color: var(--tertiary-button-bg-color-active);
}

.Combined.Field {
    display: inline-flex;
    flex-wrap: wrap;
}

    .Combined.Field .Field:not(:last-child) {
        margin-right: calc(var(--spacing-unit-x) / 4);
    }

.Modal {
    align-items: center;
    background-color: var(--modal-shadow-color);
    display: grid;
    grid-template: 'a' minmax(0, 1fr) 'b' 1fr 'c' minmax(0, 2fr);
    height: 100%;
    justify-content: center;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

    .Modal .Dialog {
        grid-area: b;
    }

.Dialog {
    background-color: var(--primary-bg-color);
    border: var(--border);
    border-radius: var(--field-fillet);
    box-shadow: var(--shadow);
    color: var(--primary-fg-color);
    pointer-events: initial;
    z-index: 1;
}

    .Dialog .Masthead nav {
        margin-left: calc(2 * var(--spacing-unit-x));
    }
