.Grid {
    box-sizing: border-box;
    display: grid;
}

.primary.Grid {
    grid-template: 'a b c' / auto auto 1fr;
    height: 100%;
    width: 100%;
    word-break: break-all;
}

.secondary.Grid {
    grid-template: 'head' auto 'body' 1fr;
    overflow-y: auto;
}

.single.secondary.Grid {
    grid-area: b / b / c / c;
}

div.secondary.Grid {
    max-width: 25vw;
    resize: horizontal;
}

.tertiary.Grid {
    grid-template: 'body' 1fr 'head' auto;
    overflow-y: auto;
}
