:root {
    --c-bg-0: hsl(50, 5%, 99%);
    --c-bg-1: hsl(50, 5%, 96%);
    --c-bg-2: hsl(50, 5%, 93%);

    --c-fg-0: black;
    --c-fg-6: white;

    --c-primary-0: hsl(280, 80%, 30%);
    --c-primary-1: hsl(280, 70%, 40%);
    --c-primary-2: hsl(280, 60%, 50%);
    --c-primary-3: hsl(280, 50%, 60%);

    --c-secondary-0: hsl(46, 100%, 46%);
    --c-secondary-1: hsl(48, 98%, 48%);
    --c-secondary-2: hsl(50, 96%, 50%);

    --c-stroke: hsla(280, 90%, 20%, 15%);

    --stroke-unit: 1px;
    --stroke-thin: var(--stroke-unit);
    --stroke-medium: calc(2 * var(--stroke-unit));

    --border-thin: var(--stroke-thin) solid var(--c-stroke);
    --border-medium: var(--stroke-medium) solid var(--c-stroke);

    --c-shadow: hsl(280, 90%, 20%, 30%);

    --gap-unit: 1rem;
    --gap-s: calc(1/2 * var(--gap-unit));
    --gap-m: var(--gap-unit);
    --gap-l: calc(2 * var(--gap-unit));

    --font-size: 16px;
}

html {
    font-size: var(--font-size);
}

body {
    min-height: 100vh;
    background-color: var(--c-bg-0);
    color: var(--c-fg-0);
    fill: currentColor;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1;
    box-sizing: border-box;
}

.zero--list-style {
    list-style: none;
}

.zero--margin, body, h1, p, input, button {
    margin: 0;
}

.zero--padding {
    padding: 0;
}

.zero--border {
    border: 0;
}

.zero--outline, input {
    outline: 0;
}

h1 {
    font-size: 2em;
}

p, input {
    font-size: 1em;
}

p {
    line-height: 1.5;
}

.line-height--1 {
    line-height: 1;
}

input {
    -webkit-appearance: none;
}

.display--flex {
    display: flex;
    flex-wrap: wrap;
}

.flex--fill {
    flex: 1;
}

.flex-direction--column {
    flex-direction: column;
}

.align-items--center {
    align-items: center;
}

.justify-content--space-between {
    justify-content: space-between;
}

.height--2 {
    height: 2em;
}

.margin-x--auto {
    margin-left: auto;
    margin-right: auto;
}

.margin-top--s {
    margin-top: var(--gap-s);
}

.margin-right--s--child-universal > *:not(:last-child) {
    margin-right: var(--gap-s);
}

.margin--m--child-universal > * {
    margin: var(--gap-m);
}

.margin--m--negative {
    margin: calc(-1 * var(--gap-m));
}

.margin-y--m, p, ul {
    margin-top: var(--gap-m);
    margin-bottom: var(--gap-m);
}

.margin-y--l, h1, form {
    margin-top: var(--gap-l);
    margin-bottom: var(--gap-l);
}

.padding-bottom--m {
    padding-bottom: var(--gap-m);
}

.padding--l {
    padding: var(--gap-l);
}

.padding-left--l {
    padding-left: var(--gap-l);
}

.bg-0 {
    background-color: var(--c-bg-0);
}

.bg-1 {
    background-color: var(--c-bg-1);
}

.bg-primary-3 {
    background-color: var(--c-primary-3);
}

.fill--bg-0 {
    fill: var(--c-bg-0);
}

.fill--primary-3 {
    fill: var(--c-primary-3);
}

.stroke-bottom {
    border-bottom: var(--border-thin);
}

.text-align--center {
    text-align: center;
}

.button, .button--child-universal > * {
    display: inline-block;
    background-color: var(--c-secondary-2);
    color: var(--c-fg-0);
    border: var(--border-thin);
}

.button, .button--child-universal > *, .button--child-universal a {
    border-radius: 1.5em;
}

.button, .button--child-universal a {
    padding: 0.75em 1.5em;
}

.button.inline {
    padding: 0;
    border-radius: 0;
    font-size: 1em;
}

.button:hover, .button--child-universal > *:hover {
    background-color: var(--c-secondary-1);
}

.button:active, .button--child-universal > *:active {
    background-color: var(--c-secondary-0);
}

.button:focus, .button--child-universal a:focus {
    outline: 0;
    box-shadow: 0 0 var(--gap-l) var(--c-shadow);
}

.button.inverse, .button--child-universal > *.inverse {
    background-color: var(--c-primary-2);
    color: var(--c-fg-6);
}

.button.inverse:hover, .button--child-universal > *.inverse:hover {
    background-color: var(--c-primary-1);
}

.button.inverse:active, .button--child-universal > *.inverse:active {
    background-color: var(--c-primary-0);
}

a.button, .button--child-universal a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

.field-group label {
    display: block;
    margin-bottom: var(--gap-s);
}

.field-group input:not([type=submit]) {
    padding: var(--gap-s);
    background-color: var(--c-bg-1);
    border: var(--border-thin);
    border-bottom: var(--border-medium);
    border-radius: 0;
}

.field-group input:not([type=submit]):hover {
    background-color: var(--c-bg-2);
}

.field-group input:not([type=submit]):focus {
    background-color: var(--c-bg-0);
    border-color: var(--c-primary-3);
}

.field-group button.button {
    display: inline-block;
    padding: var(--gap-s);
    border-bottom: var(--border-medium);
}

@media only screen and (min-width: 1024px) {
    .max-width--1024 {
        max-width: 1024px;
    }
}

@media only screen and (min-width: 400px) {
    .max-width--400 {
        max-width: 400px;
    }
}
