:root {
    --c-bg-0: hsl(50, 20%, 99%);
    --c-bg-1: hsl(50, 20%, 96%);

    --c-fg-0: black;
    --c-fg-6: white;

    --c-primary-0: hsl(280, 80%, 30%);
    --c-primary-1: hsl(280, 70%, 40%);
    --c-primary-2: hsl(280, 60%, 50%);
    --c-primary-3: hsl(280, 50%, 60%);

    --c-secondary-0: hsl(46, 100%, 46%);
    --c-secondary-1: hsl(48, 98%, 48%);
    --c-secondary-2: hsl(50, 96%, 50%);

    --spacing-0: 4px;
    --spacing-1: 8px;
    --spacing-2: 12px;
    --spacing-3: 16px;
    --spacing-4: 20px;
    --spacing-5: 24px;
    --spacing-6: 28px;

    --font-size: 16px;
}

body {
    min-height: 100vh;
    background-color: var(--c-bg-0);
    color: var(--c-fg-0);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--font-size);
    box-sizing: border-box;
}

.zero-ls {
    list-style: none;
}

.zero-m, body, h1, p {
    margin: 0;
}

.zero-p {
    padding: 0;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.ai-center {
    align-items: center;
}

.jc-between {
    justify-content: space-between;
}

.m-auto {
    margin: auto;
}

.r-mr-1 > *:not(:last-child) {
    margin-right: var(--spacing-1);
}

.r-m-3 > * {
    margin: var(--spacing-3);
}

.mv-3 {
    margin-top: var(--spacing-3);
    margin-bottom: var(--spacing-3);
}

.n-m-3 {
    margin: calc(-1 * var(--spacing-3));
}

.p-6 {
    padding: var(--spacing-6);
}

.bg-0 {
    background-color: var(--c-bg-0);
}

.bg-1 {
    background-color: var(--c-bg-1);
}

.bg-primary-3 {
    background-color: var(--c-primary-3);
}

.f-bg-0 {
    fill: var(--c-bg-0)
}

.f-primary-3 {
    fill: var(--c-primary-3);
}

.btn, .r-btn > * {
    display: inline-block;
    background-color: var(--c-secondary-2);
    color: var(--c-fg-0);
    border-radius: 1.8em;
    font-size: 0.9em;
}

.btn:hover, .r-btn > *:hover {
    background-color: var(--c-secondary-1);
}

.btn:active, .r-btn > *:active {
    background-color: var(--c-secondary-0);
}

.btn.inverse, .r-btn > *.inverse {
    background-color: var(--c-primary-2);
    color: var(--c-fg-6);
}

.btn.inverse:hover, .r-btn > *.inverse:hover {
    background-color: var(--c-primary-1);
}

.btn.inverse:active, .r-btn > *.inverse:active {
    background-color: var(--c-primary-0);
}

.btn .btn-content, .r-btn > * a {
    display: inline-block;
    padding: 0.9em 1.8em;
}

.r-btn > * a {
    color: inherit;
    text-decoration: none;
}

@media only screen and (min-width: 1024px) {
    .mw-1024 {
        max-width: 1024px;
    }
}
