#public {
    grid-template: 'head body' / auto 1fr;
    line-height: 1.5;
}

    #public .secondary.Grid {
        resize: none;
        max-width: none;
    }

    #public #noEmail {
        border-top: var(--border);
    }
