.UserContainer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.User {
    align-items: center;
    display: inline-flex;
    flex: 1;
    margin: 0;
    padding: 0;
}

.User .Picture {
    border: var(--border);
    border-radius: var(--user-picture-fillet);
    height: var(--user-picture-size);
    width: var(--user-picture-size);
}

.User .Name {
    display: inline-block;
    font-weight: 500;
    margin-left: calc(var(--spacing-unit-x) / 2);
}

.User .Name a {
    color: inherit;
    text-decoration: none;
}

.UserCommands {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.Profile .Heading {
    flex: 1;
}

.Profile .UserContainer {
    align-items: flex-start;
    flex-direction: column;
}

.Profile .User {
    --user-picture-size: 4em;
    --user-picture-fillet: calc(var(--user-picture-size) / 2);
}

.Profile .UserCommands {
    font-size: 1rem;
    margin-top: var(--spacing-unit-y);
}
